*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 16px;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,
    lightgray, #333 50%, #eee 75%, #333 75%)
}
header{
    height: 12vh;
    width: 100vw;
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
header:before{
    position: absolute;
    content: "";
    top: 33%;
    right: 50%;
    left: 20%;
    bottom: 0;
    border-radius: 50%;
    height: 12vh;
    width: 66vw;
    background-color: lightgray;
}
.hamburger{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 4vh;
    height:4vh;   
}
.hamburger-div{
    width: 4vh;
    border: 0.2rem black solid;
}
.hamburger:hover .second-line{
    position: absolute;
    animation-name: throw;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}
@keyframes throw{
    0%{
opacity: 0.1;
border: 0.2rem red solid;
}
100%{
    border: 0.2rem red solid;
    visibility: hidden;
}
}
.hamburger:hover .first-line{
    transform: rotate(-0.35turn);
}
.hamburger:hover .third-line{
position: absolute;
transform: rotate(0.35turn);
}
a{
    margin-top: 2vh;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover{
    color: red;
    transition: all 1s ease-in;
}
.drop-menu-father{
    width: 80vw;
    height:  80vh;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display:none;
    margin-top: 1vh;
    animation-name: drop;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
@keyframes drop {
    0%{
        opacity: 0.5;
        transition: all 500ms ease-in;
            }
            50%{
                opacity: 0.3;
                transition: all 700ms ease-in;
            }
            100%{
                opacity: 0.1;
                transition: all 900ms ease-in;
            }    
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
}
li{
    width: 60vw;
    height: 15vh;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;   
}


p{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    color: transparent;
    background: linear-gradient(to right,
     rgb(0, 204, 255) 10%,green 60%,yellow 30% );
position: relative;
top: 10%;
right: 30%;
height: 12vh;
width: 44vw;
-webkit-background-clip: text;
background-clip: text;
background-position: center center;
text-shadow: 2px 10px black;
}
form{
    margin: 5% auto;
}
fieldset{
    height: 32vh;
    width: 32vw;
    position: absolute;
    left: 35%;
    top: 66vh;
}
input{
    height: 4vh;
    width: 22vw;
    border:none;
    outline: none;
}
input:active{
    border: 0.2rem red dotted;
}
input::placeholder{
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bolder;
}

}
button{
    position: absolute;
    top:   11vh;
    height: 4vh;
    width: 12vw;
    left:  50%;
    background-color: blue;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: cursive;
    font-weight: bolder;
}
button:focus{
    color: red;  
}
.name> input{
    height: 4vh;
    width:  24vw;
    position: relative;
    left:  3vw;
    top: 2vh;
    outline: none;
    border: none;
    }
.name::before{
    position: absolute;
    content: "";
    right:  13vw;
    left:  -0.1vw;
    bottom: 0;
    top: 2vh;
    height: 8vh;
    width: 5vh;
    background-image: url("../icon/download.png");
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}
.email > input{
    height: 4vh;
    width:  24vw;
    position: relative;
    left:  5vw;
    top: 2vh;
    outline: none;
    border: none;
    }
.email::before{
    position: absolute;
    content: "";
    right:  13vw;
    left:  2vw;
    bottom: 0;
    top: 1.5vh;
    height: 8vh;
    width: 5vh;
    background-image: url("../icon/email_256\ \(1\).png");
    background-size: contain;
    background-repeat: no-repeat;   
}
footer{
    margin: 40% auto;
    text-align: center;
}
.heart{
    color:red;
    animation-name: heart;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
}